@import url(https://fonts.google.com/specimen/Outfit?query=outfit);
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  body {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: hsl(275, 100%, 97%);
    
}
li{
    align-self: center;
}
header{
    display: flex;
    gap: 15px
}
p{
    max-width: 50ch;
    color: hsl(292, 16%, 49%);
}
ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}
.answer{
    visibility: collapse;
}
.container{
    max-width: 30em;
    background-color:  hsl(0, 0%, 100%);
    padding: 30px;
    position: absolute;
    border-radius: 10px;
    z-index: 1;

}
.image{
    position: relative;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    width: 100vw;
    height: 45vh;
    z-index: -1;
    top: -290px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.plus-minus{
    margin-left: auto;
    appearance: none;
    content: url(./assets/images/icon-plus.svg);
}
.plus-minus:hover{
    cursor: pointer;
}
.plus-minus:checked {
    content: url(./assets/images/icon-minus.svg);
}
.plus-minus:checked + .answer{
    visibility: visible;
}

@media(max-width: 450px){
    .image{
        position: relative;
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        width: 100vw;
        height: 50vh;
        z-index: -1;
        top: -300px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    li{
        max-width: 25ch;
    }
    p{
        max-width: 40ch;
    }
}